RewriteEngine On
RewriteRule ^home/?$ 		index.php
RewriteRule ^rcp/?$ 		rcp/index.php


RewriteRule ^login/?$		index.php?com=members&viewtype=login
RewriteRule ^logout/?$ 	 	index.php?com=members&viewtype=logout
RewriteRule ^forgotpass/?$  index.php?com=members&viewtype=forgot
RewriteRule ^account_list/?$ 	index.php?com=members&viewtype=account_list
RewriteRule ^del_account/([0-9]+)/?$ 	index.php?com=members&viewtype=account_list&del=$1
RewriteRule ^update_account/([0-9]+)/?$ 	index.php?com=members&viewtype=account_list&acc_id=$1

RewriteRule ^group_list/?$ 	index.php?com=groupuser&viewtype=group_list
RewriteRule ^del_group/([0-9]+)/?$ 	index.php?com=groupuser&viewtype=group_list&del=$1
RewriteRule ^update_group/([0-9]+)/?$ 	index.php?com=groupuser&viewtype=group_list&id=$1

RewriteRule ^department_list/?$ 	index.php?com=department&viewtype=department_list
RewriteRule ^del_department/([0-9]+)/?$ 	index.php?com=department&viewtype=department_list&del_id=$1
RewriteRule ^update_department/([0-9]+)/?$ 	index.php?com=department&viewtype=department_list&dep_id=$1

RewriteRule ^manufacturer/?$ 	index.php?com=manufacturer&viewtype=manufacturer
RewriteRule ^del_manufacturer/([0-9]+)/?$ 	index.php?com=manufacturer&viewtype=manufacturer&del_id=$1
RewriteRule ^edit_manufacturer/([0-9]+)/?$ 	index.php?com=manufacturer&viewtype=manufacturer&manu_id=$1

RewriteRule ^vendor/?$ 	index.php?com=vendor&viewtype=vendor
RewriteRule ^del_vendor/([0-9]+)/?$ 	index.php?com=vendor&viewtype=vendor&del_id=$1
RewriteRule ^edit_vendor/([0-9]+)/?$ 	index.php?com=vendor&viewtype=vendor&vendor_id=$1

RewriteRule ^document/?$ 	index.php?com=document&viewtype=document
RewriteRule ^del_document/([0-9]+)/?$ 	index.php?com=document&viewtype=document&del_id=$1
RewriteRule ^edit_document/([0-9]+)/?$ 	index.php?com=document&viewtype=document&doc_id=$1

RewriteRule ^vendor/?$ 	index.php?com=vendor&viewtype=vendor

RewriteRule ^mgmt_products/?$ 	index.php?com=products&viewtype=mgmt_products
RewriteRule ^product/([0-9]+)?$ 	index.php?com=products&viewtype=mgmt_products&pro_id=$1
RewriteRule ^edit_product/([0-9]+)?$ 	index.php?com=products&viewtype=add_products&pro_id=$1
RewriteRule ^add_products/?$ 	index.php?com=products&viewtype=add_products

RewriteRule ^mgmt_models/?$ 	index.php?com=models&viewtype=mgmt_models
RewriteRule ^edit_model/([0-9]+)?$ 	index.php?com=models&viewtype=mgmt_models&mod_id=$1

RewriteRule ^mgmt_parts/?$ 	index.php?com=parts&viewtype=mgmt_parts
RewriteRule ^add_parts/?$ 	index.php?com=parts&viewtype=add_parts
RewriteRule ^part/([0-9]+)?$ 	index.php?com=parts&viewtype=mgmt_parts&part_id=$1

RewriteRule ^export/([0-9]+)?$ 	index.php?com=parts&viewtype=mgmt_parts&export_id=$1

RewriteRule ^mgmt_documents/?$ 	index.php?com=documents&viewtype=mgmt_documents

RewriteRule ^mgmt_logs/?$ 	index.php?com=logs&viewtype=mgmt_logs

RewriteRule ^mgmt_api/?$ 	index.php?com=api&viewtype=mgmt_api

RewriteRule ^changepass/?$  index.php?com=members&viewtype=changepass

RewriteRule ^changetpass/?$  index.php?com=members&viewtype=changetpass

RewriteRule ^addmember/?$ 	index.php?com=members&viewtype=register

RewriteRule ^addmember/id/([0-9]+)?$ 	index.php?com=members&viewtype=register&id=$1

RewriteRule ^addmember/del/([0-9]+)?$ 	index.php?com=members&viewtype=register&del=$1

RewriteRule ^device_config/?$ 	index.php?com=members&viewtype=device_config

RewriteRule ^device_config/id/([0-9]+)?$ 	index.php?com=members&viewtype=device_config&id=$1

RewriteRule ^device_config/del/([0-9]+)?$ 	index.php?com=members&viewtype=device_config&del=$1

<Ifmodule mod_php5.c>
	php_flag display_errors  on
</Ifmodule>